<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Admin mode</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container-fluid">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/bjj-logo-small-1.png}" class="img-fluid" width="75" height="52"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="topNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/users}">Пользователи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/categories}">Категории</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/brands}">Бранды</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/products}">Продукты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/customers}">Клиенты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/shipping}">Поставки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/orders}">Заказы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/report}">Отчеты о продажах</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/articles}">Статьи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/menus}">Меню</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/settings}">Настройки</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <br>
        <div>
            <h2>Управление пользователями</h2>
            <a th:href="@{/users/new}">Создать нового пользователя</a>
        </div>
        <br>
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div>
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>ID пользователя</th>
                        <th>Фото</th>
                        <th>E-mail</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Роль</th>
                        <th>Статус</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${listUsers}">
                        <td>[[${user.id}]]</td>
                        <td><span th:if="${user.photos == null}"
                                  class="fas fa-portrait fa-3x icon-my-yellow"></span>
                            <img th:if="${user.photos != null}"
                                 th:src="@{${user.photosImagePath}}"
                                style="width: 75px">
                        </td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.lastName}]]</td>
                        <td>[[${user.roles}]]</td>
                        <td>
                            <a th:if="${user.enabled == true}"
                               class="fas fa-check-circle fa-2x icon-my-green"
                                th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                                title="Заблокировать пользователя"></a>
                            <a th:if="${user.enabled == false}"
                               class="fa-solid fa-ban fa-2x icon-my-red"
                               th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                               title="Активировать пользователя"></a>
                        </td>
                        <td>
                            <a class="fa-solid fa-user-pen fa-2x icon-my-yellow"
                                th:href="@{'/users/edit/' + ${user.id}}"
                                title="Редактировать пользователя"></a>
                            &nbsp;
                            <a class="fa-regular fa-trash-can fa-2x icon-my-black link-delete"
                                th:href="@{'/users/delete/' + ${user.id}}"
                                th:userId="${user.id}"
                                title="Удалить пользователя"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade text-center" id="confirmModel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Подтверждение удаления</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <span id="confirmText"></span>
                    </div>

                    <div class="modal-footer">
                        <a class="btn btn-warning" href="" id="yesButton">Да</a>
                        <button type="button" class="btn btn-danger"
                                data-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
<script type="text/javascript">
    $(document).ready(function (){
       $(".link-delete").on("click", function (e){
           e.preventDefault();
           link = $(this);
           //alert($(this).attr("href"));
           userId = link.attr("userId");
           $("#yesButton").attr("href", link.attr("href"));
           $("#confirmText").text("Вы действительно хотите удалить пользователя с ID: "
               + userId + "?");
           $("#confirmModel").modal();
       });
    });
</script>
</body>
</html>